* {
    padding: 0px;
    margin: 0px;
}

h1,
h2,
h3,
span,
ul {
    cursor: default;
}

body {
    background-color: #f4ecd7;
    color: #4D2703;
    transition: 0.5s all linear;
}

button {
    padding: 2px;
    margin: 5px;
    text-align: center;
}

/* Хедер и кнопки в нём */
header {
    display: flex;
    width: 100%;
    height: 70px;
    background-color: #4D2703;
    box-shadow: 0px 3px 10px 4px #4A2400;
    margin-bottom: 12px;
}

#website-logo {
    width: 90px;
    padding-top: 4.9px;
    padding-left: 5px;
    background: none;
}

.header-button {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: end;
    padding-right: 3%;
    color: #f4ecd7;
}

.header-button__glossary {
    margin-right: 20px;
}

.header-button__glossary,
.header-button__switch-theme {
    display: flex;
    align-items: center;
    height: 40px;
    cursor: pointer;
    padding: 3px;
    padding-right: 5px;
    background-color: #5F4023;
    border: 1px solid #5F4023;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px #583C1F;
}

.header-button__glossary {
    width: 110px;
}

.header-button__switch-theme {
    width: 130px;
}

.header-button svg {
    position: absolute;
    cursor: pointer;
    padding-right: 5px;
    transition: 0.5s all linear;
}

.header-button__glossary span,
.header-button__switch-theme span {
    display: block;
    cursor: pointer;
    padding-left: 30px;
}

/* Глосарий */
.glossary span {
    display: block;
    padding: 8px;
}

.glossary span::first-letter {
    padding-left: 20px;
}

.glossary li span::first-letter {
    padding-left: 0px;
}

.glossary ul {
    padding-left: 30px;
}

.glossary img {
    width: 150px;
    height: 150px;
    border: 1px solid #fff;
    border-radius: 5px;
}

/* Бургер меню */
.burger {
    width: 32px;
    height: 32px;
    cursor: pointer;
    position: relative;
}

.burger span {
    cursor: pointer;
}

.icons .burger {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.burger__line {
    display: block;
    cursor: pointer;
    width: 100%;
    height: 6px;
    background-color: #ffffff;
    border: 1px solid #67504A;
    position: absolute;
    left: 0;
    transition: 0.3s all linear;
}

.burger__square {
    display: block;
    position: absolute;
    cursor: pointer;
    left: 2px;
    height: 5px;
    width: 90%;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ffffff;
    z-index: 1;
    transition: 0.3s all linear;
}

.burger__line-first {
    top: 0;
}

.burger__line-second,
.burger__line-third {
    top: 50%;
    transform: translateY(-50%);
}

.burger__line-fourth {
    bottom: 0px;
}

.burger-active .burger__line-first,
.burger-active .burger__line-fourth {
    opacity: 0;
}

.burger-active .burger__line-second,
.burger-active .burger__square {
    transform: translateY(-50%) rotate(45deg);
}

.burger-active .burger__line-third,
.burger-active .burger__square-1 {
    transform: translateY(-50%) rotate(-45deg);
}

.open-info {
    cursor: pointer;
    transition: 0.3s all linear;
}

.burger-active .open-info {
    transform: rotate(90deg);
}

/* Основное меню */
.icons,
.icons__headlines,
.icons__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.icons section {
    padding-bottom: 30px;
}

.icons .burger-target {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.imgWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1020px) {
    .icons__row .imgWrapper {
        min-width: 120px;
        width: 40%;
    }
}

.icons__row .imgWrapper:nth-child(n) {
    justify-content: end;
}

.icons__row .imgWrapper:nth-child(2n) {
    justify-content: start;
}

.icons .imgWrapper {
    margin: 4px;
}

.icons__mineral {
    max-width: 210px;
    width: min(35vh, 25vw);
    min-width: 120px;
    max-height: 210px;
    height: min(35vh, 25vw);
    min-height: 120px;
    border: 1px solid #ffffff;
    border-radius: 5%;
    cursor: pointer;
}

.icons__title {
    text-align: center;
    width: 100%;
}

.icons__width-limit {
    width: fit-content;
}

.mineral-info {
    padding: 20px;
    max-width: 550px;
}

.mineral-info ul {
    padding-left: 30px;
}

.mineral-info svg {
    fill: #4D2703
}

/* Тёмная версия */
.dark {
    background-color: #525252;
    color: #BDBDBD;
}

.dark header {
    background-color: #2D2D2F;
    box-shadow: 0px 3px 10px 4px #2a2a2c;
}

.dark .header-button__switch-theme,
.dark .header-button__glossary {
    background-color: #494846;
    border: 1px solid #494846;
    box-shadow: 1px 1px 2px 1px #3b3b3b;
    color: #faf8f9;
}

.dark .burger__line {
    border: 1px solid #2D2D2F;
}

.dark #website-logo {
    filter: grayscale(100%);
}

.dark .mineral-info svg {
    fill: #fff;
}

.show {
    display: none !important;
}

.opacity {
    opacity: 0 !important;
}