* {
    padding: 0px;
    margin: 0px;
    z-index: 0;
    cursor: default;
}

body {
    background-color: #f4ecd7;
    color: #4D2703;
    transition: 0.5s all linear;
}

button {
    padding: 2px;
    margin: 5px;
}

header {
    display: flex;
    width: 100%;
    height: 70px;
    background-color: #4D2703;
    box-shadow: 0px 3px 10px 4px #4A2400;
}

#website-logo {
    width: 90px;
    padding-top: 4.9px;
    padding-left: 5px;
    background: none;
}

.switch-theme {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: end;
    padding-right: 3%;
    color: #f4ecd7;
}

.switch-theme__button {
    height: 38px;
    width: 129px;
    cursor: pointer;
    padding: 3px;
    padding-right: 5px;
    background-color: #5F4023;
    border: 1px solid #5F4023;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px #583C1F;
}

.switch-theme__button svg {
    position: absolute;
    cursor: pointer;
    padding-top: 7px;
    padding-right: 5px;
    transition: 0.5s all linear;
}

.switch-theme__button path {
    cursor: pointer;
}

.switch-theme__button span {
    display: block;
    cursor: pointer;
    padding-left: 30px;
}

main {
    padding-top: 12px;
}

.burger {
    width: 32px;
    height: 32px;
    cursor: pointer;
    position: relative;
}

.icons .burger {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.burger__line {
    display: block;
    cursor: pointer;
    width: 100%;
    height: 6px;
    background-color: #ffffff;
    border: 1px solid #67504A;
    position: absolute;
    left: 0;
    transition: 0.3s all linear;
}

.burger__square {
    display: block;
    position: absolute;
    cursor: pointer;
    left: 2px;
    height: 5px;
    width: 90%;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ffffff;
    z-index: 1;
    transition: 0.3s all linear;
}

.burger__line-first {
    top: 0;
}

.burger__line-second,
.burger__line-third {
    top: 50%;
    transform: translateY(-50%);
}

.burger__line-fourth {
    bottom: 0px;
}

.burger-active .burger__line-first,
.burger-active .burger__line-fourth {
    opacity: 0;
}

.burger-active .burger__line-second,
.burger-active .burger__square {
    transform: translateY(-50%) rotate(45deg);
}

.burger-active .burger__line-third,
.burger-active .burger__square-1 {
    transform: translateY(-50%) rotate(-45deg);
}

.icons,
.icons__headlines,
.icons__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.icons section {
    padding-bottom: 30px;
}

.burger-target {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.imgWrapper {
    display: flex;
    justify-content: end;
    align-items: center;
}

@media (max-width: 1020px) {
    .icons__row .imgWrapper {
        min-width: 120px;
        width: 40%;
    }
}

.imgWrapper:nth-child(2n) {
    justify-content: start;
}

.icons .imgWrapper {
    margin: 4px;
}

.icons__mineral {
    border: 1px solid #ffffff;
    border-radius: 5%;
    cursor: pointer;
}

.icons__title {
    text-align: center;
    width: 100%;
}

.icons__width-limit {
    width: fit-content;
}

.dark {
    background-color: #525252;
    color: #BDBDBD;
}

.dark header {
    background-color: #2D2D2F;
    box-shadow: 0px 3px 10px 4px #2a2a2c;
}

.dark .switch-theme__button {
    background-color: #494846;
    border: 1px solid #494846;
    box-shadow: 1px 1px 2px 1px #3b3b3b;
    color: #faf8f9;
}

.dark .burger__line {
    border: 1px solid #2D2D2F;
}

.dark #website-logo {
    filter: grayscale(100%);
}

.show {
    display: none;
}

.opacity {
    opacity: 0;
}